@mixin sans($size, $weight, $style) {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: $style;
  font-size: $size;
}


@mixin serif($size, $weight, $style) {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: $style;
  font-size: $size;
}