@mixin serif($size, $weight, $style) {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: $style;
  font-size: $size;
}

@mixin sans($size, $weight, $style) {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: $style;
  font-size: $size;
}

@font-face {
  font-family: "STIX Two Math";
  src: url("/static/STIXTwoMath-Regular.woff2") format("woff2");
}

@font-face {
  font-family: charter;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url('/static/charter_regular.woff2') format('woff2');
}

@font-face {
  font-family: charter;
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  src: url('/static/charter_italic.woff2') format('woff2');
}

@font-face {
  font-family: charter;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  src: url('/static/charter_bold.woff2') format('woff2');
}

@font-face {
  font-family: charter;
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  src: url('/static/charter_bold_italic.woff2') format('woff2');
}