@mixin serif($size, $weight, $style) {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: $style;
  font-size: 1.2*$size;
}

@mixin sans($size, $weight, $style) {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: $style;
  font-size: $size;
}

@mixin monospace($size, $weight, $style) {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: $style;
  font-size: $size;
}

@mixin charter($size, $weight, $style) {
  font-family: Charter, serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-size: $size;
  font-style: $style;
  font-feature-settings: "cv01";
}

@font-face {
  font-family: "STIX Two Math";
  src: url("/static/STIXTwoMath-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Charter;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  src: url('/static/XCharter-Roman.otf') format("opentype");
}

@font-face {
  font-family: Charter;
  font-style: italic;
  font-weight: normal;
  font-stretch: normal;
  src: url('/static/XCharter-Italic.otf') format("opentype");
}

@font-face {
  font-family: Charter;
  font-style: oblique;
  font-weight: normal;
  font-stretch: normal;
  src: url('/static/XCharter-Slanted.otf') format("opentype");
}

@font-face {
  font-family: Charter;
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  src: url('/static/XCharter-Bold.otf') format("opentype");
}

@font-face {
  font-family: Charter;
  font-style: italic;
  font-weight: bold;
  font-stretch: normal;
  src: url('/static/XCharter-BoldItalic.otf') format("opentype");
}

@font-face {
  font-family: Charter;
  font-style: oblique;
  font-weight: bold;
  font-stretch: normal;
  src: url('/static/XCharter-BoldSlanted.otf') format("opentype");
}