@use 'fonts';
@use 'sass:math';

@mixin invert-colors {
    color: white;
    background-color: black;
}

$page-max-width: 80rem;
$text-max-width: 55ch;
$font-series: 1.2;
$header-height: 2rem;

:root {
    margin: 0;
    padding: 0;

    text-wrap: pretty;

    @include fonts.charter(1rem, normal, normal);
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
    font-variant-numeric: oldstyle-nums proportional-nums;
}

* {
    scroll-margin-top: $header-height;
    box-sizing: border-box;
    min-width: 0;
    overflow-wrap: break-word;
}

.monospace {
    @include fonts.monospace(inherit, 450, normal)
}

.sans {
    @include fonts.sans(inherit, 400, normal)
}

p {
    max-width: $text-max-width;
    margin: 0;
    line-height: 150%;
}

p+p {
    text-indent: 1.5em;
}

p:has(+:is(h1, h2, h3, h4)) {
    margin-bottom: 1rem;
}

h1 {
    @include fonts.serif(math.pow($font-series, 4)*1rem, 650, normal);
    margin: 0 0 0.5rlh 0;
}

h2 {
    @include fonts.serif(math.pow($font-series, 3)*1rem, 600, normal);
    margin: 0 0 0.5rlh 0;
}

h3 {
    @include fonts.serif(math.pow($font-series, 2)*1rem, 500, normal);
    margin: 0 0 0.5rlh 0;
}

h4 {
    @include fonts.serif($font-series*1rem, 400, normal);
    margin: 0 0 0.5rlh 0;
}

a:link {
    color: #0000EE;
}

a:visited {
    color: #551A8B;
}

a:active {
    color: #FF0000;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
}

main {
    flex-grow: 1;
    position: relative;
}


header {
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: #ffffffe0;
    @include fonts.sans(1rem, 400, normal);
}

header>div {
    max-width: $page-max-width;
    height: $header-height;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 4px;

    a {
        height: 100%;
    }

    img {
        height: 100%;
    }

    a#search {
        padding: 4px;

        img {
            object-fit: contain;
        }
    }
}

nav {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    a:link,
    a:visited {
        color: black;
    }

    details {
        flex: 0 1 20ch;
        min-width: fit-content;

        >* {
            list-style: none;
            padding: 0;
            margin: 0;
            padding: 4px;
            line-height: 200%;
        }

        $half-width: 0.5em;

        summary::before {
            content: "⏷\00A0";
        }

        summary {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    details[open] {
        summary {
            @include invert-colors()
        }

        summary::before {
            content: "⏶\00A0"
        }

        >* {
            background-color: white;
        }

    }
}

section {
    padding: 12px 0;
}

section>div {
    max-width: $page-max-width;
    margin: 0 auto;
    padding: 0 12px;
}

#hero {
    @include invert-colors();
    text-align: center;

    p {
        margin: 0 auto;
        text-align: justify;
        hyphens: auto;
        line-height: initial;
    }

    h2 {
        font-style: italic;
    }

    div {
        position: relative;
    }

    div.vignette {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.25) 50%, black 100%);
    }
}

footer {
    @include invert-colors();
    @include fonts.sans(1rem, 400, normal);

    div {
        max-width: $page-max-width;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4px;
        justify-content: space-around;

        figure {
            width: fit-content;
        }

        figcaption {
            font-size: $font-series*1em;
        }

        ul {
            list-style: none;
        }
    }
}

.article-list {
    list-style: none;

    a {
        color: inherit;
        text-decoration: inherit;
    }

    div {
        max-width: $page-max-width;
        margin: 0 auto;
        padding: 0 4px;
    }

    li {
        padding: 4px 0;
        border-top: 1px solid black;
    }

    li:last-child {
        border-bottom: 1px solid black;
    }

    p.abstract {
        display: none;
    }

    li:hover,
    li:focus-within {
        @include invert-colors();

        p {
            display: block;
        }
    }
}

div.center {
    position: absolute;
    inset: 0;
    height: 100%;
    max-width: $page-max-width;
    margin: auto auto;
    padding: 0 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    * {
        text-align: center;
    }

    p {
        margin-bottom: 1lh;
    }

    p+p {
        text-indent: 0;
    }
}

ol.authors {
    padding: 0;

    li {
        display: inline;
    }

    li::after {
        content: ", ";
    }

    li:last-child::after {
        content: "";
    }
}

ul.authors {
    padding: 0;

    li {
        display: inline;
    }

    li::after {
        content: "; ";
    }

    li:last-child::after {
        content: "";
    }
}

article#main {
    max-width: $page-max-width;
    margin: 0 auto;
    padding: 0 12px;
}

figure {
    margin: 4px 0;
    padding: 4px;
    border: 1px solid black;

    figcaption {
        font-size: 1em;
    }

    img {
        width: 100%
    }
}

em {
    font-style: italic;
}

table {
    margin: 4px 0;
    padding: 4px;
    border: 1px solid black;
    width: 100%;

    :not(caption) * {
        font-variant-numeric: lining-nums tabular-nums;
    }

    thead {
        font-weight: bolder;
        box-shadow: 0 2px 0 black;
    }

    td {
        padding-top: 1lh;
    }

    caption {
        font-size: 1em;
    }
}

#refs {
    div {
        @include fonts.serif(1rem, 400, normal);
        margin: 1rem 0;
        padding-left: 1em;
        text-indent: -1em;
        text-wrap: balance;

        a {
            @include fonts.sans(inherit, 350, normal);
            font-variant-numeric: lining-nums proportional-nums;
        }
    }
}

math {
    font-family: "STIX Two Math";
}

p+figure {
    margin-top: 1rem;
}

figure:has(+p) {
    margin-bottom: 1rem;
}

p+table {
    margin-top: 1rem;
}

table:has(+p) {
    margin-bottom: 1rem;
}

button {
    min-width: fit-content;
}

#frontmatter {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    text-wrap: balance;
    align-items: start;
    margin-bottom: 1lh;
    padding-bottom: 1lh;
    border-bottom: 1px solid black;
}

#abstract {
    max-width: 1.3*$text-max-width;
    margin: 0 auto;

    p {
        max-width: 1.3*$text-max-width;
    }
}

#add-info {
    margin-right: auto;
    margin-bottom: 1lh;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: $font-series*1em;

    >div {
        margin: 1em 0;
    }

    address {
        display: inline;
    }

    #pdfDownload {
        width: fit-content;
        display: block;
        padding: 12px;
        border: 1px solid black;
        @include invert-colors();
    }

    #pdfDownload:hover,
    #pdfDownload:focus {
        color: black;
        background-color: transparent;
    }
}


#content {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    position: relative;

    nav {
        position: sticky;
        top: $header-height;
        justify-content: start;
        flex-grow: 0;

        max-height: 80vh;
        overflow: auto;
        background-color: #ffffffe0;
        z-index: 10;
        margin-right: auto;
        padding: 4px;
        @include fonts.sans(1rem, 500, normal);

        button {
            position: sticky;
            top: 0;
        }

        li {
            list-style: none;
            line-height: 150%;
        }

        a {
            text-decoration: none;
        }

        a.before {
            color: #551A8B;
        }

        a.current {
            color: #FF0000;
        }

        a.after {
            color: #0000EE;
        }
    }

    #body {
        max-width: $text-max-width;
        margin: 0 auto;
    }
}