@use 'fonts';
@use 'sass:math';

$page-max-width: 72rem;
$text-max-width: 55rem;
$font-series: math.sqrt(2);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-wrap: pretty;

    @include fonts.sans(1rem, 500, normal);
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
}

p {
    max-width: $text-max-width;
    text-align: start;
    text-justify: auto;
}

h1 {
    @include fonts.serif(math.pow($font-series, 3)*1rem, 650, normal);
    margin: 4px 0;
}

h2 {
    @include fonts.serif(math.pow($font-series, 2)*1rem, 600, normal);
    margin: 4px 0;
}

h3 {
    @include fonts.serif(math.pow($font-series, 1)*1rem, 500, normal);
    margin: 4px 0;
}

header {
    border-bottom: 1px solid black;
}

header div {
    max-width: $page-max-width;
    margin: 0 auto;
    padding: 0 4px;
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    gap: 4px;

    img {
        height: 100%;
    }
}

.search {
    @include fonts.sans(1rem, 400, normal);
    position: relative;
    height: $font-series*1rem;

    input {
        width: 100%;
        height: 100%;
    }

    button {
        position: absolute;
        right: 0;
        top: 10%;

        height: 80%;
        aspect-ratio: 1 / 1;

        background-image: url("/assets/mag_glass_icon.svg");

        background-size: cover;
        border: 0;
        background-color: transparent;
    }
}

nav {
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #ffffffe0;
}

nav div {
    max-width: $page-max-width;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 30px;

    select {
        border: none;

        flex: 0 1 6em;
        min-width: 0;
        margin: 0 4px;

        background-color: transparent;
    }
}


section div {
    max-width: $page-max-width;
    margin: 0 auto;
    padding: 0 4px;
}

#hero {
    padding: 4px 0;
    background-color: black;
    color: white;
    text-align: center;

    p {
        margin: 1rem auto;
    }

    h2 {
        font-style: italic;
    }

    .vignette {
        position: relative;
    }

    .vignette::before {
        content: "";
        position: absolute;
        inset: 0;
        background: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, black 100%);
        z-index: 2;
        pointer-events: none;
    }
}

footer {
    background-color: black;
    color: white;

    div {
        max-width: $page-max-width;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4px;
        justify-content: space-around;

        figure {
            width: fit-content;
            margin: 4px 0;
        }

        figcaption {
            @include fonts.serif(math.pow($font-series, 1)*1rem, 400, normal);
            margin: 4px 0;
        }

        ul {
            list-style: none;
        }
    }
}

.featured {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    height: 400px;
    justify-content: start;

    div {
        margin: 0;
        flex: 1 1 0;
        background-color: black;
        padding: 4px;
        color: white;
    }

    img {
        flex: 1 1 auto;
        height: 100%;
    }

}