@use 'fonts';
@use 'sass:math';

$page-max-width: 72rem;
$text-max-width: 55rem;
$font-series: math.sqrt(2);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-wrap: balance;

    @include fonts.sans(1rem, 500, normal);
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
}

p {
    max-width: $text-max-width;
    margin: 1rem 0;
}

h1 {
    @include fonts.serif(math.pow($font-series, 3)*1rem, 650, normal);
    margin: 0 0 4px 0;
}

h2 {
    @include fonts.serif(math.pow($font-series, 2)*1rem, 600, normal);
    margin: 0 0 4px 0;
}

h3 {
    @include fonts.serif(math.pow($font-series, 1)*1rem, 500, normal);
    margin: 0 0 4px 0;
}

a:link {
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
}

main {
    flex-grow: 1;
    display: grid;
    grid-template-rows: 1fr;
}

div.center {
    height: 100%;
    max-width: $page-max-width;
    margin: 0 auto;
    padding: 0 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    * {
        text-align: center;
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #ffffffe0;
}

header>div {
    max-width: $page-max-width;
    height: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding-right: 4px;

    a {
        height: 100%;
    }

    img {
        height: 100%;
    }

    a#search {
        height: 60%;
    }
}

nav {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    min-width: 0;
    gap: 8px;

    select {
        border: none;
        flex: 0 1 6rem;
        min-width: 0;
        background-color: transparent;
    }
}

section {
    padding: 12px 0;
}

section>div {
    max-width: $page-max-width;
    margin: 0 auto;
    padding: 0 4px;
}

#hero {
    background-color: black;
    color: white;
    text-align: center;

    p {
        margin: 1rem auto;
    }

    h2 {
        font-style: italic;
    }

    div {
        position: relative;
    }

    div.vignette {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 50%, black 100%);
    }
}

footer {
    background-color: black;
    color: white;

    div {
        max-width: $page-max-width;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4px;
        justify-content: space-around;

        figure {
            width: fit-content;
            margin: 4px 0;
        }

        figcaption {
            @include fonts.serif(math.pow($font-series, 1)*1rem, 400, normal);
            margin: 4px 0;
        }

        ul {
            list-style: none;
        }
    }
}

.article-list {
    list-style: none;

    a,
    a:link,
    a:active,
    a:hover,
    a:visited {
        color: inherit;
        text-decoration: inherit;
    }

    div {
        max-width: $page-max-width;
        margin: 0 auto;
        padding: 0 4px;
    }

    li {
        padding: 4px 0;
        border-top: 1px solid black;
    }

    li:last-child {
        border-bottom: 1px solid black;
    }

    p.abstract {
        display: none;
    }

    li:hover,
    li:focus-within {
        color: white;
        background-color: black;

        p {
            display: block;
        }
    }
}

ol.authors {
    li {
        display: inline;
        border: none;
    }

    li:last-child {
        border: none;
    }

    li::after {
        content: ", ";
    }

    li:last-child::after {
        content: "";
    }
}