@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
  font-family: "Schola";
  src: url("/assets/fonts/texgyreschola-regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Schola";
  src: url("/assets/fonts/texgyreschola-bold.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Schola";
  src: url("/assets/fonts/texgyreschola-italic.otf") format("opentype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Schola";
  src: url("/assets/fonts/texgyreschola-bolditalic.otf") format("opentype");
  font-style: italic;
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-wrap: pretty;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  font-optical-sizing: auto;
  font-synthesis: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}

p {
  max-width: 50rem;
  margin: 1rem auto;
  text-align: start;
}

h1 {
  font-family: "Schola", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.370192597rem;
  font-optical-sizing: auto;
  font-synthesis: none;
  margin: 0;
}

h2 {
  font-family: "Schola", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.77768889rem;
  font-optical-sizing: auto;
  font-synthesis: none;
}

h3 {
  font-family: "Schola", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3333rem;
  font-optical-sizing: auto;
  font-synthesis: none;
}

header {
  border-bottom: 1px solid black;
}

header div {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 4px;
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
  gap: 4px;
}
header div img {
  height: 100%;
}

.search {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  font-optical-sizing: auto;
  font-synthesis: none;
  flex-grow: 1;
  text-align: end;
  position: relative;
  height: 1.3333rem;
}
.search input {
  width: 100%;
  height: 100%;
  max-width: 20rem;
}
.search button {
  position: absolute;
  right: 0;
  top: 10%;
  height: 80%;
  aspect-ratio: 1/1;
  background-image: url("/assets/icons/mag_glass_icon.svg");
  background-size: cover;
  border: 0;
  background-color: transparent;
}

nav {
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8784313725);
}

nav div {
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 30px;
}
nav div select {
  border: none;
  flex: 0 1 6em;
  min-width: 0;
  margin: 0 4px;
  background-color: transparent;
}

section div {
  max-width: 70rem;
  margin: 0 auto;
}

#hero {
  padding: 4px 0;
  background-color: black;
  color: white;
  text-align: center;
}
#hero h2 {
  font-style: italic;
}
#hero .vignette {
  position: relative;
}
#hero .vignette::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  z-index: 2;
  pointer-events: none;
}

/*# sourceMappingURL=styles.css.map */
