<!DOCTYPE html>
<html lang="en-SG">

<head>
    {%block head%}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="author" content="Wang Chen" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.x/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">

    <link rel="icon" href="/static/adaptive-logo.svg">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/address.js" defer></script>
    <script src="/announcements.js" defer></script>
    {% endblock %}
</head>

<body>
    {%block page_top%}
    <section id="announcements" style="display:none">
        <div>
            {% set announcements = "page_vars/specials/announcements.json" | load_json%}
            <div><strong>Announcment:</strong> {{announcements.text}}</div>
            <button onclick="hideAnnounce()"><img
                    src="data:image/svg+xml;base64,PHN2ZyBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjIiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMTIgMTAuOTMgNS43MTktNS43MmMuMTQ2LS4xNDYuMzM5LS4yMTkuNTMxLS4yMTkuNDA0IDAgLjc1LjMyNC43NS43NDkgMCAuMTkzLS4wNzMuMzg1LS4yMTkuNTMybC01LjcyIDUuNzE5IDUuNzE5IDUuNzE5Yy4xNDcuMTQ3LjIyLjMzOS4yMi41MzEgMCAuNDI3LS4zNDkuNzUtLjc1Ljc1LS4xOTIgMC0uMzg1LS4wNzMtLjUzMS0uMjE5bC01LjcxOS01LjcxOS01LjcxOSA1LjcxOWMtLjE0Ni4xNDYtLjMzOS4yMTktLjUzMS4yMTktLjQwMSAwLS43NS0uMzIzLS43NS0uNzUgMC0uMTkyLjA3My0uMzg0LjIyLS41MzFsNS43MTktNS43MTktNS43Mi01LjcxOWMtLjE0Ni0uMTQ3LS4yMTktLjMzOS0uMjE5LS41MzIgMC0uNDI1LjM0Ni0uNzQ5Ljc1LS43NDkuMTkyIDAgLjM4NS4wNzMuNTMxLjIxOXoiLz48L3N2Zz4="
                    alt="Hide announcements section">
            </button>
        </div>
    </section>
    <header id="header">
        <div>
            <a href="/"><img src="/static/logo.svg" alt="ASEAN Young Researchers' Journal Logo"></a>

            <nav aria-label="Site navigation">
                <details name="nav">
                    <summary>Content</summary>
                    <ul>
                        <li><a href="/articles/">Articles</a></li>
                        <li><a href="javascript:showAnnounce()">Announcments</a></li>
                    </ul>
                </details>
                <details name="nav">
                    <summary>About</summary>
                    <ul>
                        <li><a href="/about">Story & Team</a></li>
                        <li><a href="#footer">Contact Us</a></li>
                    </ul>
                </details>
                <details name="nav">
                    <summary>Publish</summary>
                    {# <option>For Authors</option>
                    <option>For Referees</option>
                    <option>Guidelines</option> #}
                    <p>Coming soon…</p>
                </details>
                <details name="nav">
                    <summary>SHRO</summary>
                    <ul>
                        <li><a href="/shro/">About</a></li>
                        <li><a href="/shro/#sign">Sign Up</a></li>
                    </ul>
                    {# <option>Mentor Sign-up</option> #}
                </details>
            </nav>

            <a href="/articles/" id="search"><img src="/static/magnifying_glass_icon.svg"
                    alt="Magnifying glass search icon"></a>
        </div>
    </header>
    {%endblock%}

    {%block main%}{%endblock%}

    {% block page_bottom%}
    <footer id="footer">
        <div>
            <figure>
                <figcaption>Socials</figcaption>
                <ul>
                    <li>Instagram</li>
                    <li>Discord</li>
                    <li>Whatsapp</li>
                </ul>
            </figure>

            <figure>
                <figcaption>Contact</figcaption>
                <ul>
                    <li>Email</li>
                    <li>Phone IDK</li>
                </ul>
            </figure>
            <figure>
                <figcaption>Licensing</figcaption>
                <a href="https://creativecommons.org/licenses/by/4.0/"> <img
                        src="https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/by.svg"
                        alt="The contents of this webpage are licensed under CC BY 4.0"></a>
            </figure>
        </div>
    </footer>
    {%endblock%}
</body>

</html>