<!DOCTYPE html>
<html lang="en-SG">

<head>
    {%block head%}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Wang Chen" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.x/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap"
        rel="stylesheet">

    <link rel="icon" href="/static/logo.svg">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/nav.js" defer></script>
    {% endblock %}
</head>

<body>
    <script>0</script>
    {%block page_top%}
    <header id="header">
        <div>
            <a href="/"><img src="/static/logo.svg"
                    alt="ASEAN Young Researchers' Journal Logo"></a>

            <nav aria-label="Site navigation">
                <select onchange="change_nav(this)" aria-label="Content-related navigation options">
                    <option selected hidden>Content</option>
                    <option>Articles</option>
                    <option>Announcments</option>
                </select>
                <select onchange="change_nav(this)" aria-label="About-us-related navigation options">
                    <option selected hidden>About</option>
                    <option>Story & Team</option>
                    <option>Contact Us</option>
                </select>
                <select onchange="change_nav(this)" aria-label="Publication-related navigation options">
                    <option selected hidden>Publish</option>
                    <option>For Authors</option>
                    <option>For Referees</option>
                    <option>Guidelines</option>
                </select>
                <select onchange="change_nav(this)" aria-label="SHRO-related navigation options">
                    <option selected hidden>SHRO</option>
                    <option>Mentee Sign-up</option>
                    <option>Mentor Sign-up</option>
                </select>
            </nav>

            <a href="/articles" id="search"><img src="/static/magnifying_glass_icon.svg"
                    alt="Magnifying glass search icon"></a>
        </div>
    </header>
    {%endblock%}

    {%block main%}{%endblock%}

    {% block page_bottom%}
    <footer>
        <div>
            <figure>
                <figcaption>Socials</figcaption>
                <ul>
                    <li>Instagram</li>
                    <li>Discord</li>
                    <li>Whatsapp</li>
                </ul>
            </figure>

            <figure>
                <figcaption>Contact</figcaption>
                <ul>
                    <li>Email</li>
                    <li>Phone IDK</li>
                </ul>
            </figure>
        </div>
    </footer>
    {%endblock%}
</body>

</html>