{%macro card(article)%}
<a href="/{{article.id}}">
    <article class="card">
        <span>
            <h3>{{article.title}}</h3>
            <ol class="authors">
                {%for author in article.authors%}
                <li>{{author}}</li>
                {%endfor%}
            </ol>
        </span>

        <p class="abstract">{{article.abstract}}</p>

        {%if article.img is not none%}
        <img src="{{article.img}}">
        {%else%}
        <div></div>
        {%endif%}
        <time datetime="{{article.date}}">{{article.date}}</time>
    </article>
</a>
{%endmacro%}