{% extends "templates/common/base.html.j2" %}
{%import "templates/common/components.html.j2" as components%}

{#
{
    "read_from": "page_vars",
    "write_to": [],
    "file_extension": ".html"
}
#}

{% block head %}
{{super()}}
<script src="./404.js" defer></script>
<title>404 ∉ AYRJ</title>
{%endblock%}

{% block main %}
<main>
    <div class="center">
        <h1>404: Page not found</h1>
        <h2>:(</h2>
        <p>The server could not find this page. Please head back to our <a href="/">homepage</a>.</p>
    </div>
</main>
{%endblock%}