{% extends "templates/common/base.html.j2" %}

{#
{
"read_from": "page_vars/about",
"write_to": [],
"file_extension": ".html"
}
#}

{% block head %}
{{super()}}
<title>About Us ∈ AYRJ</title>
<meta name="description" content="About ASEAN Young Researchers' Journal and the team behind it." />
{%endblock%}