{% extends "templates/common/base.html.j2" %}
{%import "templates/common/components.html.j2" as components%}

{#
{
"read_from": "page_vars/articles",
"write_to": ["articles"],
"file_extension": ".html",
"clear_previous": true,
"raw_slug": false
}
#}

{% block head %}
{{super()}}
<title>{{title | pandoc(["-f", "markdown", "-t", "plain"])}} ∈ AYRJ</title>
<meta name="description" content='{{abstract| pandoc(["-f", "markdown", "-t", "plain"])}}' />
<script src="/articles.js" defer></script>
{%endblock%}

{% block main %}
<main>

    {{markdown | pandoc( ["-f",
    "markdown",
    "-t",
    "html5",
    "--citeproc",
    "--mathml",
    "--shift-heading-level-by=1",
    "--csl=apa.csl",
    "--template=pandoc.html",
    "--toc"])}}

</main>
{{("bash ./pdf.sh page_vars/articles/"~slug~".json") | cmd_later}}
{% endblock %}