{%macro featured(title, desc, img_src, authors, date)%}
<article class="featured">
    <div>
        <h3>{{title}}</h3>
        <p>{{desc}}</p>
        <span>
            {% if authors is defined%}
            <p>{{authors | join(', ')}}</p>
            {%endif%}
            {%if date is defined%}
            <time datetime="{{date}}">{{date}}</time>
            {%endif%}
        </span>
    </div>
    {%if img_src is defined%}
    <img src="{{img_src}}">
    {%endif%}
</article>
{%endmacro%}