{% extends "templates/base.html.j2" %}
{%import "templates/components.html.j2" as components%}

{% block head %}
{{super()}}
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyhxAMDKMoTpVlevfrb6czmXwkcS4K0kQ&loading=async&callback=initMap"
    async></script>
<script src="./index.js" defer></script>
{%endblock%}

{% block main %}
<main>
    <section id="hero">
        <div>
            <h1>ASEAN Young Researchers’ Journal</h1>
            <h2>Empowering youth through research</h2>
            <div class="vignette">
                <gmp-map-3d mode="satellite" center="1.352111,103.819806,70000" default-ui-hidden
                    style="height: 500px; pointer-events: none;" gestureHandling="cooperative"></gmp-map-3d>
            </div>
            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
                and I will give you a complete account of the system, and expound the actual teachings of the great
                explorer of the truth, the master-builder of human happiness. No one rejects,</p>
        </div>
    </section>

    <section>
        <div>
            <h2>Featured</h2>
            {{ components.featured(feature.title, feature.desc, feature.img, feature.authors, feature.date) }}
        </div>
    </section>

    <section>
        <h2>Recent Publications</h2>
        <ul>
            <li>article 1</li>
            <li>article 2</li>
        </ul>
    </section>
</main>
{%endblock%}