{% extends "templates/base.html.j2" %}

{% block head %}
{{super()}}
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyhxAMDKMoTpVlevfrb6czmXwkcS4K0kQ&loading=async&callback=initMap"
    async></script>
<script src="./index.js" defer></script>
{%endblock%}

{% block main %}
<main>
    <section id="hero">
        <div>
            <h1>ASEAN Young Researchers’ Journal</h1>
            <h2>Empowering youth through research</h2>
            <div class="vignette">
                <gmp-map-3d mode="satellite" center="1.352111,103.819806,70000" default-ui-hidden
                    style="height: 500px; pointer-events: none;" gestureHandling="cooperative"></gmp-map-3d>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem
                placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.
                Pulvinar
                vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc
                posuere.
                Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos
                himenaeos.</p>
        </div>
    </section>

    <section>
        <div>
            <h2>Featured</h2>
            <img src="https://placehold.co/10x1000">
            <article>
            </article>
        </div>
    </section>

    <section>
        <h2>Recent Publications</h2>
        <ul>
            <li>article 1</li>
            <li>article 2</li>
        </ul>
    </section>
</main>
{%endblock%}