{% extends "templates/common/base.html.j2" %}

{#
{
"read_from": "page_vars/shro",
"write_to": ["shro"],
"file_extension": ".html"
}
#}

{% block head %}
{{super()}}
<title>Science and Humanities Research Olympiad ∈ AYRJ</title>
<meta name="description"
    content="The Science and Humanities Reserach Olympiad is our flagship research mentorship programme. Secondary and pre-university students are given the chance to work with professional researchers in over 24 different fields.">
{%endblock%}

{%block main%}
<main>
    <section id="hero" style="background-color: transparent;color:black;">
        <div>
            <h1>Science and Humanities Research Olympiad</h1>
            <h2>AYRJ's flagship research mentorship programme</h2>
            <div>
                <img src="/static/shro.svg" alt="Logo of Science and Humanities Research Olympiad">
            </div>
            <p>
                The Science and Humanities Reserach Olympiad (SHRO) is our
                flagship research mentorship programme.
                Secondary and pre-university students, no matter their background or research experience,
                are given the chance to work with professional researchers in over 24 different fields.
            </p>
        </div>
    </section>
    <div id="about-div">
        <div>
            <section>
                <div>
                    <h2>Why SHRO?</h2>
                    <p>The team behind SHRO has had the rare chance to chase research properly, not just as a school
                        assignment, but as a real curiosity you can build something from. We also know, bluntly, that
                        not
                        every student in Singapore gets that same runway.</p>

                    <p>A research project is more than extra work. Students get to learn how to
                        ask good questions, gather evidence, interpret data, manage a long timeline, and explain
                        findings
                        clearly to other people.</p>

                    <p>But research is hard to navigate alone, especially for a secondary or pre-university student
                        doing this for the first time. Most schools simply do not have the equipment, networks, or time
                        to
                        support independent research well. And even when mentorship programmes exist, they are limited
                        to a
                        few specific schools, hard to access, or reserved for the already high-performing few. The
                        hundreds
                        of sign-ups that SHRO receives every year is a testament to how rare such opportunities are for
                        students on the ground.</p>

                    <p>SHRO exists to change this scarcity in opportunities. Because research should never be a
                        privilege you stumble into. It
                        should
                        be an opportunity any passionate student can reach.</p>
                </div>
            </section>

            <section>
                <div>
                    <h2>Previous SHROs</h2>
                    <p>The inaugural SHRO was held in 2025 at the Cisco Systems office in Singapore. (SHRO is not
                        affliated
                        with Cisco in any way).</p>
                    <figure>
                        <img src="/static/shro1.jpg" alt="A student pitching to a mentor">
                        <figcaption>What you will be doing on pitch day.</figcaption>
                    </figure>
                    <figure>
                        <img src="/static/shro2.jpg" alt="Students listening to a panel discussion">
                        <figcaption>Some programmes will run while you wait for your pitch.</figcaption>
                    </figure>
                    <figure>
                        <img src="/static/shro3.jpg" alt="A delicious buffet line">
                        <figcaption>Expect lunch to be provided.</figcaption>
                    </figure>
                    <p>Hope to see you there this year!</p>
                </div>
            </section>
        </div>
        <section>
            <div>
                <h2>What is SHRO?</h2>
                <p>SHRO is a research mentorship programme where students, individually or in groups of up to three
                    people, get to work with professional researchers. We are open to students without research
                    experience.</p>
                <h3 id="sign">Signing Up</h3>
                <p>We email many secondary schools, polytechnics and junior colleges in the middle of January every
                    year.
                    We will request for your teachers to broadcast a recruitment email to all interested students in
                    your school.
                    The email will contain a sign up form to fill in. The form contains some questions for us to get to
                    know you better.</p>
                <p>Currently, sign-ups are open for JC1 students <a href="https://forms.gle/cMWzq3dtFxhaN3Lq9">here</a>.
                </p>
                <h3>Selection Interview</h3>
                <p>If we assess that you are ready to take on a research project, we will schedule an interview with
                    you. We want to see students who are passionate, responsible and commited to the programme.</p>
                <h3>The Pitch</h3>
                <p>After passing the interview, you will be invited to the SHRO pitch day, a few weeks after the March
                    Holidays. Before the pitch day you will
                    be asked to select a few mentors to pitch to based on what the mentors are interested in. You can
                    prepare a project pitch on any topic that you like. The pitch should only be used to demonstrate
                    your appittude for planning, problem solving and literature review. It may or may not have anything
                    to do with your final project.</p>
                <h3>Your Project</h3>
                <p>After the pitch day, we will assign you to a project based on mentor feedback. Your research project
                    is ultimately determined by what your mentor can and is willing to support. Till December, you will
                    continue to work with you mentor to complete your project.</p>
                <h3>Final Deliverable</h3>
                <p>At the end of it all, you are expected to submit a research report to us. This report will be graded
                    for its quality, novelty and factual accurarcy to determine you results.</p>
                <h3>After the Programme</h3>
                <p>SHRO ends after December 31 of every year, but our support does not stop there. You can continue to
                    work with your mentor if they are willing to do so, and also submit your work for publication in <a
                        href="/">AYRJ</a>.</p>
            </div>
        </section>
    </div>
</main>
{%endblock%}