name: Build and Deploy Website

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Set up ConTeXt
        uses: askscienceblog/website/.github/workflows/install.yaml@main
      
      - name: Checkout Repo
        uses: actions/checkout@v6
      
      - name: Install Dependencies
        run: |
          sudo apt install pandoc
          curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
          pip install -r $GITHUB_WORKSPACE/requirements.txt
