name: Build and Deploy Website

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Set Up ConTeXt
        uses: actions/cache/restore@v4
        with:
          path: ~/context
          key: ${{ runner.os }}-context-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-context

      - name: Set Up ConTeXt
        run: echo "$HOME/context/tex/texmf-linux-64/bin" >> $GITHUB_PATH

      - name: Install Dependencies
        run: |
          sudo apt install pandoc
          curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.3/install.sh | bash
          pip install -r $GITHUB_WORKSPACE/requirements.txt
