name: Build and Deploy Website

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    env:
      CF_API_TOKEN: ${{ secrets.WRANGLER_KEY }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Set Up ConTeXt
        uses: actions/cache/restore@v4
        with:
          path: ~/context
          key: ${{ runner.os }}-context-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-context
      - name: Set Up ConTeXt
        run: echo "$HOME/context/tex/texmf-linux-64/bin" >> $GITHUB_PATH

      - name: Install Dependencies
        run: |
          sudo apt install pandoc
          pip install -r $GITHUB_WORKSPACE/requirements.txt
      - name: Install Dependencies
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install Dependencies
        run: |
          cd $GITHUB_WORKSPACE
          npm install
