name: Install or Update ConTeXt and Fonts

on: workflow_dispatch

jobs:
  run:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Restore Cache
        id: cache
        uses: actions/cache/restore@v4
        with:
          path: ~/context
          key: ${{ runner.os }}-context-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-context-
      
      - name: Install ConTeXt
        if: steps.cache.outputs.cache-hit == ''
        run: |
          mkdir ~/context
          cd ~/context
          wget https://lmtx.pragma-ade.com/install-lmtx/context-linux-64.zip
          unzip context-linux-64.zip
          sh install.sh
          sudo ~/context/tex/texmf-linux-64/bin/mtxrun --generate
          rm context-linux-64.zip
          
      - name: Download Fonts
        if: steps.cache.outputs.cache-hit == ''
        uses: actions/checkout@v6
      
      - name: Move Fonts into ConTeXt
        if: steps.cache.outputs.cache-hit == ''
        run: |
          unzip $GITHUB_WORKSPACE/fonts.zip
          cp -r $GITHUB_WORKSPACE/Source_Code_Pro/static/* ~/context/tex/texmf-fonts
          cp -r $GITHUB_WORKSPACE/Source_Sans_3/static/* ~/context/tex/texmf-fonts

      - name: Update ConTeXt Installation
        run: |
          cd ~/context
          sh install.sh

      - name: Re-Generate ConTeXt Cache
        run: |
          sudo ~/context/tex/texmf-linux-64/bin/mtxrun --scripts cache --erase
          sudo ~/context/tex/texmf-linux-64/bin/mtxrun --generate
          sudo ~/context/tex/texmf-linux-64/bin/context --make
          echo < $GITHUB_PATH
      
      - name: Cache Output
        uses: actions/cache/save@v4
        with:
          key: ${{ runner.os }}-context-${{ github.run_id }}
          path: ~/context