name: Install ConTeXt and Fonts

on: workflow_dispatch

jobs:
  run:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Install ConTeXt
        run: |
          mkdir ~/context
          cd ~/context
          wget https://lmtx.pragma-ade.com/install-lmtx/context-linux-64.zip
          unzip context-linux-64.zip
          sh install.sh
          echo '~/context/tex/texmf-linux-64/bin:$PATH' >> $GITHUB_PATH
          sudo ~/context/tex/texmf-linux-64/bin/mtxrun --generate
          rm context-linux-64.zip
          sh install.sh
          
      - name: Download Fonts
        uses: actions/checkout@v6
      
      - name: Move Fonts into ConTeXt
        run: |
          unzip $GITHUB_WORKSPACE/fonts.zip
          cp -r $GITHUB_WORKSPACE/Source_Code_Pro/static/* ~/context/tex/texmf-fonts
          cp -r $GITHUB_WORKSPACE/Source_Sans_3/static/* ~/context/tex/texmf-fonts

      - name: Re-Generate ConTeXt Cache
        run: |
          mtxrun --scripts cache --erase
          mtxrun --generate
          context --make
      
      - name: Cache Output
        uses: actions/cache/save@v4
        with:
          key: context
          path: ~/context